body{
          /* vertical alignment */
    background: #0F1117 ;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-size: large;
}
header{
   
    border: none;
    display: flex;              /* turns flexbox on */
    flex-wrap: wrap;      
    flex-direction: column;
    justify-content: center;    /* horizontal alignment */
    align-items: center; 
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(wolf.jpg);
    min-height: 400px; 
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    color:#fafafa;
    text-align: center;
}
.my-button{
   
  background-color: #2D6A4F; 
  width:fit-content;
  height:fit-content;
  color: #fafafa;             
  padding: 20px 30px;        
  text-decoration: none;     
  display: block;     
 
  text-align: center;
  border-radius: 5px;        
  font-weight: bold;
  margin: 2px auto;
}

.my-button:hover {
  background-color: #1a4a34; /* Darker color when hovering */
  transform: translateY(-3px);
}

h1{
    color:#fafafa;
    display:flex;
    justify-content: center
}
#stats{
    display: flex;  
    gap: 24px;    
    padding: 20px 40px;
    flex-wrap: wrap;           
    justify-content: center;    
    align-items: center; 
}
.stat-card{
    background: #1A1A2E;
    border: 2px ;
    padding: 20px;
    color: #fafafa;
    border-radius: 5px;
    min-width: 50px;

}
.pop{
    font-size: small;
    color:rgba(240, 248, 255, 0.643)

}
.pop-num{
    font-size: larger;
    font-weight: bold;
}
.chart{
    padding: 6px;
    border: 2px solid darkgray;
    color: forestgreen

}
h2{
    color:#fafafa;
    display: flex;
  
    justify-content: center;
}