body{
          /* vertical alignment */
    background: linear-gradient(145deg, rgb(40, 13, 84), rgb(133, 33, 64));
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-size: large;
}
header{
   
    border: none;
    display: flex;              /* turns flexbox on */
    flex-wrap: wrap;            /* lets items wrap to next line if too narrow */
    justify-content: center;    /* horizontal alignment */
    align-items: center; 
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(wolf.jpg);
    min-height: 400px; 
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    color:lightgrey;
    text-align: center;
}
h1{
    color:lightgray;
    display:flex;
    justify-content: center
}
#stats{
    display: flex;  
    gap: 24px;    
    padding: 20px 40px;
    flex-wrap: wrap;           
    justify-content: center;    
    align-items: center; 
}
.stat-card{
    background: rgb(89, 17, 31);
    border: 2px ;
    padding: 20px;
    color: lightgray;
    border-radius: 5px;
    min-width: 50px;

}
.pop{
    font-size: small;
    color:rgba(240, 248, 255, 0.643)

}
.pop-num{
    font-size: larger;
    font-weight: bold;
}
#charts{

}